/*
 *  Innovative Design Application Splash   
 *	by                                     
 *	Emily To: http://github.com/emto       
 *	and                                    
 *	Christian Le: http://github.com/cle1994
*/

@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 34px;
	color: #777777;
	letter-spacing: 2px;
}

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

a, a:hover, a:focus, a:visited, a:active {
	text-decoration: none;
}

.close {
	height: 100%;
}

.outer {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-60%);
	-moz-transform: translateY(-60%);
	-o-transform: translateY(-60%);
	-ms-transform: translateY(-60%);
	transform: translateY(-60%);
}

.outer .innovativedesign {
	width: 50%;
	margin: 0 auto;
	margin-bottom: 50px;
}

.outer .innovativedesign img {
	width: 100%;
}

.outer .text {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 50px;
	text-align: center;
}

.outer .next {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

@media (max-width: 1200px) {
	.outer .innovativedesign {
		width: 65%;
		margin: 0 auto;
		margin-bottom: 50px;
	}

	.outer .innovativedesign img {
		width: 100%;
	}

	.outer .text {
		width: 80%;
		margin: 0 auto;
		margin-bottom: 50px;
	}

	.outer .next {
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
}

@media (max-width: 767px) {
	.outer {
		padding-left: 20px;
		padding-right: 20px;
	}

	.outer .innovativedesign {
		width: 95%;
		margin: 0 auto;
		margin-bottom: 50px;
	}

	.outer .innovativedesign img {
		width: 100%;
	}

	.outer .text {
		width: 95%;
		margin: 0 auto;
		margin-bottom: 50px;
		font-size: 24px;
	}

	.outer .next {
		width: 95%;
		margin: 0 auto;
		text-align: center;
		font-size: 24px;
	}
}